<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy" />
<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title>This is a title!</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'music:index' %}">
                    金小胖
                </a>
            </div>

            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{% url 'music:index' %}">
                            <span class="glyphicon glyphicon-cd" aria-hidden="true"></span> Albums
                        </a>
                    </li>
                    <li class="">
                        <a href="#">
                            <span class="glyphicon glyphicon-music" aria-hidden="true"></span> Songs
                        </a>
                    </li>
                </ul>

                <form class="navbar-form navbar-left" role="search" method="get" action="#">
                    <div class="form-group">
                        <input type="text" class="form-control" name="q" value="">
                    </div>
                    <button type="submit" class="btn btn-default">
                        Search
                    </button>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a ref="#">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Album
                        </a>
                    </li>
                    <li class="">
                        <a ref="#">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h3>Here are all my Albums:</h3>
    {% if all_albums %}
        <ul>
            {% for album in all_albums %}
            <li>
                <a href="{% url 'music:detail' album.id %}">{{ album.album_title }}</a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>You don't have any albums!</h3>
    {% endif %}
</body>
</html>