{% extends 'puzzle/base.html' %}
{% block title %}Puzzle Detail{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div>
                <img src="https://i.ytimg.com/vi/xUMdMgUMHoY/maxresdefault.jpg" class="img-responsive">
            </div>
            <div>
                <h2 class="text-center" style="color: cornflowerblue;">{{ puzzle.title }}</h2>
            </div>
            <div class="row">
                <div class="col-xs-6 text-center" style="color: plum"><p>Room: {{ puzzle.location }}</p></div>
                <div class="col-xs-6 text-center" style="color: green"><p>Point: {{ puzzle.point }}</p></div>
            </div>
        </div>

        <div class="col-xs-12 col-md-8">
            <div class="well well-sm">
                <p>{{ puzzle.content }}</p>
            </div>
            {% if is_not_solved %}
            <div class="col-xs-12">
                <form id="answer_form" class="form-horizontal" action="{% url 'puzzle:update' puzzle.id %}" method="POST" onSubmit="return ValidateAnswer();">
                    {% csrf_token %}
                    <p>Please entry your answer below: (Case insensitive)</p>
                    <div class="form-group col-xs-12">
                        <input id="player_answer" maxlength="30" name="player_answer" type="text">
                    </div>
                    <div class="form-group col-xs-12">
                        <button id="submit_answer_btn" class="btn btn-success" type="submit">Submit</button>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    function ValidateAnswer() {
        var player_answer = document.getElementById("player_answer");
        if(player_answer.value == {{ puzzle.answer }}) {
            alert("Congratulations!");
        } else {
            alert("Wrong answer!");
            return false;
        }
    }
</script>
{% endblock %}