{% extends 'puzzle/base.html' %}
{% block title %}Puzzle Detail{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div>
                <img src="https://i.ytimg.com/vi/xUMdMgUMHoY/maxresdefault.jpg" class="img-responsive">
            </div>
            <div>
                <h2 class="puzzle_title text-center">{{ puzzle.title }}</h2>
            </div>
            <div class="row">
                <div class="col-xs-6 text-center puzzle_location"><p>Room: {{ puzzle.location }}</p></div>
                <div class="col-xs-6 text-center puzzle_point"><p>Point: {{ puzzle.point }}</p></div>
            </div>
        </div>

        <div class="col-xs-12 col-md-8">
            <div class="well well-sm">
                <p>{{ puzzle.content }}</p>
            </div>
            <div class="col-xs-12">
                <form id="answer_form" class="form-horizontal" action="{% url 'puzzle:update' puzzle.id %}" method="POST" onSubmit="return ValidateAnswer();">
                    {% csrf_token %}
                    {% if not is_solved %}
                        <p>Please entry your answer below:</p>
                        <div class="form-group col-xs-12">
                            <input id="player_answer" maxlength="30" name="player_answer" type="text">
                        </div>
                        <div class="form-group col-xs-12">
                            <button id="submit_answer_btn" class="btn btn-success" type="submit">Submit</button>
                        </div>
                    {% else %}
                        <p>The answer to this puzzle is:</p>
                        <div class="form-group col-xs-12">
                            <input maxlength="30" name="player_answer" type="text" value="{{ puzzle.answer }}" disabled="True">
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    function ValidateAnswer() {
        var player_answer = document.getElementById("player_answer");
        if(player_answer.value == {{ puzzle.answer }}) {
            alert("Congratulations!");
        } else {
            alert("Wrong answer!");
            return false;
        }
    }
</script>
{% endblock %}