{% extends 'puzzle/base.html' %}
{% block puzzle_active %} active {% endblock %}
{% block title %} Puzzle List {% endblock %}

{% block body %}
    <div class="alert alert-success" style="padding: 0 5px;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Player Name</th>
                    <th>Solved Puzzle</th>
                    <th>Total Points</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Weijia Wang</td>
                    <td>9</td>
                    <td>150</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        {% for puzzle in all_puzzles %}
        <div class="col-xs-6 col-md-3">
            <a href="{% url 'puzzle:detail' puzzle.pk %}" style="text-decoration: none">
                <div class="thumbnail">
                    <img src="https://i.ytimg.com/vi/xUMdMgUMHoY/maxresdefault.jpg" class="img-responsive">
                    <div class="caption">
                        <h4 style="color: cornflowerblue;">{{ puzzle.title }}</h4>
                        <div class="row">
                            <div class="col-xs-6" style="margin: 0; color: plum">Room: {{ puzzle.location }}</div>
                            <div class="col-xs-6" style="margin: 0; color: green">Point: {{ puzzle.point }}</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}