{% extends 'puzzle/base.html' %}
{% block puzzle_active %}active{% endblock %}
{% block title %}Puzzle List{% endblock %}

{% block body %}
    <div class="alert alert-success" style="padding: 0 5px;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Player Name</th>
                    <th>Puzzles To Solve</th>
                    <th>Solved Puzzles</th>
                    <th>Total Points</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ all_puzzles_to_solve.count }}</td>
                    <td>{{ all_solved_puzzles.count }}</td>
                    <td>{{ player_score }}</td>
                </tr>
            </tbody>
        </table>
    </div>

	<ul class="nav nav-tabs">
	    <li class="active"><a data-toggle="tab" href="#PuzzlesToSolve">Puzzles To Solve</a></li>
	    <li><a data-toggle="tab" href="#PuzzlesSolved">Solved Puzzles</a></li>
	</ul>
	<div class="row">
	    <div class="tab-content">
	        <div id="PuzzlesToSolve" class="tab-pane fade in active">
	            {% for puzzle in all_puzzles_to_solve %}
	                <div class="col-xs-6 col-md-3">
	                    <a href="{% url 'puzzle:detail' puzzle.pk %}" style="text-decoration: none;">
	                        <div class="thumbnail">
	                            <img src="{{ puzzle.logo }}" class="img-responsive">
	                            <div class="caption">
	                                <h4 class="puzzle_title">{{ puzzle.title }}</h4>
	                                <div class="row">
	                                    <div class="col-xs-12 puzzle_location">Room: {{ puzzle.location }}</div>
	                                    <div class="col-xs-12 puzzle_point">Point: {{ puzzle.point }}</div>
	                                </div>
	                            </div>
	                        </div>
	                    </a>
	                </div>
	            {% endfor %}
	        </div>
	        <div id="PuzzlesSolved" class="tab-pane fade">
	            {% for puzzle in all_solved_puzzles %}
	                <div class="col-xs-6 col-md-3">
	                    <a href="{% url 'puzzle:detail' puzzle.pk %}" style="text-decoration: none;">
	                        <div class="thumbnail">
	                            <img src="{{ puzzle.logo }}" class="img-responsive">
	                            <div class="caption">
	                                <h4 class="puzzle_title">{{ puzzle.title }}</h4>
	                                <div class="row">
	                                    <div class="col-xs-12 puzzle_location">Room: {{ puzzle.location }}</div>
	                                    <div class="col-xs-12 puzzle_point">Point: {{ puzzle.point }}</div>
	                                </div>
	                            </div>
	                        </div>
	                    </a>
	                </div>
	            {% endfor %}
	        </div>
	    </div>
	</div>
{% endblock %}